<h2>Welcome to the Sample App</h2>
<% unless current_user %>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>
<p>Home Page of the Sample Application.......</p>
